.kaufman__triangle {
  background-image: url('../../../../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  background-position: -210px;
  background-size: cover;
  position: absolute;
  height: 877px;
  width: 877px;
  right: -210px;
  top: 0;
  z-index: 1;
}
